<%
mail_setting = @project.project_mail_setting || @project.build_project_mail_setting
%>

<%= form_with(
      url: project_mail_settings_path(@project),
      method: :put,
      local: true
    ) do %>

<div class="box tabular">

<p>
  <label for="from_address">From address</label><br>
  <input type="text"
         name="project_mail_setting[from_address]"
         value="<%= mail_setting.from_address %>"
         size="60">
  <br>
  <em>Leer = Systemwert (<%= Setting.mail_from %>)</em>
</p>

<p>
  <label for="reply_to_address">Reply-To address</label><br>
  <input type="text"
         name="project_mail_setting[reply_to_address]"
         value="<%= mail_setting.reply_to_address %>"
         size="60">
</p>

<p>
  <label>
    <%= check_box_tag 'project_mail_setting[send_notification_on_create]', '1', mail_setting.send_notification_on_create %>
    <%= l(:label_send_notification_on_create) %>
  </label>
</p>

</div>

<p>
  <%= submit_tag l(:button_save) %>
</p>

<% end %>